html
    head
        title='Pluralsight Rocks'
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css")
    body
        div.container
            div.jumbotron
                h1 Hello Plural Sighters !!!
                p Click the button below for Nigels podcast
                p
                    a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
                p